<!DOCTYPE html>
<html>
<head>
<title>About</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<nav>
<div class="logo">🌿 FreshAI</div>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/upload">Upload</a></li>
<li><a href="/history">History</a></li>
</ul>
</nav>

<div class="result-box">

<h1>Food Freshness Monitoring Platform</h1>

<p>
This project uses Deep Learning to classify fruits and vegetables as
Fresh or Rotten.
</p>

<p>
Model Used: CNN / EfficientNetB0
</p>

<p>
Dataset: Kaggle Freshness44
</p>

</div>

</body>
</html>