<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Food Freshness Monitoring Platform</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<nav>
    <h2>🌿 Food Freshness Monitoring</h2>

    <div>
        <a href="/">Home</a>
        <a href="/upload">Upload</a>
        <a href="/history">History</a>
        <a href="/about">About</a>
    </div>
</nav>

<section class="hero">

<h1>AI Powered Food Freshness Monitoring</h1>

<p>
Upload an image of a fruit or vegetable to detect whether it is Fresh or Rotten
and estimate its remaining shelf life.
</p>

<br>

<a href="/upload">
<button>Get Started</button>
</a>

</section>

</body>
</html>